{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "eslint:recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "complexity": ["error", 10],
        "max-len": ["error", {
            "code": 120
        }],
        "@typescript-eslint/no-require-imports": 2,
        "@typescript-eslint/no-floating-promises": "off",
        "no-duplicate-imports": ["error"],
        "sort-imports": ["error", {
            "ignoreCase": true,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "always-multiline"
            }
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxEOF": 1,
                "maxBOF": 0
            }
        ],
        "max-depth": [
            "error",
            {
                "max": 3
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "^_",
                "argsIgnorePattern": "^_"
            }
        ],
        "quotes": ["error", "double"],
        "no-trailing-spaces": "error",
        "max-params": "error",
        "no-eq-null": "error",
        "no-multi-spaces": "error",
        "space-infix-ops": "error",
        "space-in-parens": ["error", "never"],
        "keyword-spacing": "error",
        "no-sync": "error",
        "no-lonely-if": "error",
        "arrow-spacing": "error",
        "eol-last": ["error", "always"],
        "no-redeclare": "off",
        "@typescript-eslint/no-redeclare": ["error"],
        "@typescript-eslint/prefer-optional-chain": ["error"],
        "@typescript-eslint/prefer-readonly": ["error"],
        "@typescript-eslint/prefer-for-of": ["error"]
    }
}
