{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "complexity": ["error", 10],
        "max-len": ["error", {
            "code": 80
        }],
        "@typescript-eslint/no-require-imports": 2,
        "no-duplicate-imports": ["error"],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "always-multiline"
            }
        ]
    }
}
